.zine {
  display: none;
  margin:auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-size: cover;
}

.hiddenpage {
  box-shadow: none;
}

.page {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: solid 1px rgba(164, 156, 156, 0.5) ;
  overflow: hidden;
  text-align: center;
}
