.zine {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: none;
  margin:auto;
  margin-top: 10%;
  margin-bottom: 10%;

  background-size: cover;
}
.page {
  box-sizing: border-box;
  /* padding: 20px; */
  background-color: #fdfaf7;
  color: #785e3a;
  border: solid 1px #c2b5a3;
  overflow: hidden;

  text-align: center;
}

#circleText {
  animation: rotation 12.5s infinite linear;
}

	@keyframes rotation {
  	from {
    	transform: rotate(359deg);
 	 }
  	to {
   	 transform: rotate(0deg);
  	}
  }

